{% extends 'navbar.html' %}
{% load crispy_forms_tags %}
{% block title %} User Profile Page {% endblock  %}

{% block css_block %}
<style>
    .crop {
        width: 200px;
        height: 200px;
        overflow: hidden;
    }

    .crop img {
        width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }
</style>
{% endblock  %}

{% block body_block %}

<div class="row">


    <div class="col-sm-4">
        {% if  user_other.user_profile.profile_pic %}
        <img src="/media/{{ user_other.user_profile.profile_pic }}" style="width:230px;height:230px;">
        {% else %}
        <img src="/media/profile_pics/download.png" style="width:230px;height:230px;">
        {% endif %}
    </div>

    <div class="col-sm-8">
        <h3>{{ user_other.username }} &nbsp;
            {% if request_username != user_other %}
            {% if not already_followed  %}
            <a href="{% url 'App_Login:follow' username=user_other.username %}"
                class="btn btn-primary btn-sm">Follow</a>
            {% else %}
            <a href="{% url 'App_Login:unfollow' username=user_other.username %}"
                class="btn btn-primary btn-sm">Unfollow</a>
            {% endif %}
            {% endif %}
        </h3>
        <h4>{{ user_other.post.count }} Posts &nbsp;&nbsp;{{ user_other.following.count }} Followers
            &nbsp;&nbsp; {{ user_other.follower.count }} Following
        </h4>

        <br>
        <h3>{{ user_other.user_profile.full_name }}</h3>
        <h6>{{ user_other.user_profile.description }}</h6>


    </div>
    <br>
    {% for post in user_other.post.all %}
    <div class="row">
        <div class="crop">
            <img src="/media/{{ post.image }}" alt="">
        </div>
    </div>
    <hr>
    {% endfor %}

</div>


{% endblock %}